#mainLogo {
	height: 80px;
	margin: 10px 30px;
}

#nav {
	text-align: center;
	font-size: 10px;
	color: #3c7177;
}

#topBarList {
	display: inline;
	list-style: none;
}
.searchBar{
	background-color: #AAAAAA;
	font-size: 10px;
	padding: 10px;
}

#textBox {
	margin-left: 2%;
	margin-right: 2%;
}

.search{
	background-color: #3c7177;
	border-radius: 2px;
	padding: 8px 3px 8px 3px;
	border-color: #3c7177;
	color: white;
	font-size: 15px;
}

#searchBarList{
	text-decoration: underline;
	color: white;
	list-style: none;
}

.searchItem {
	font-size: 15px;
	display: inline;
}

#realtorImage {
	height: 280px;
	width: 200px;
}

ul li {
	text-decoration: none;
}

#phoneFooter {
	float: left;
	clear: both;
	display: inline;
}

#footerSite {
	clear: both;
	display: inline;
}

footer {
	background-color: #3c7177;
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
	display: inline;
}

