html .container {

}

#mainLogo {
	height: 80px;
	margin: 10px 30px;
}

.navbar{
	background-color: #AAAAAA;
	font-size: 10px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

#textBox {
	padding: 5px 10px;
}

.search{
	background-color: #3c7177;
	border-radius: 2px;
	padding: 8px 55px 8px 55px;
	border-color: #3c7177;
	color: white;
	font-size: 15px;
	
}

#searchBarList li{
	text-decoration: underline;
	color: white;
	list-style: none;
	display: inline;
}

.searchItem {
	padding: 5px 30px;
	display: inline;
	
	font-size: 15px;
}

#realtorImage {
	height: 280px;
	width: 200px;
}

footer {
	background-color: #3c7177;
	padding: 2%;
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
}

