/***********
   Overall
***********/

button {
	color: white;
	background-color: #3c7177;
	border: none;
}

/***********
   Header
***********/

.logoNav {
	color: black;
	font-size: 15px;
	text-decoration: none;
}

#nav {
	text-align: center;
	font-size: 10px;
	color: #3c7177;
	text-decoration: none;
	list-style: none;
}

#mainLogo {
	height: 80px;
	margin: 10px 30px;
}

.nav-link {
	text-decoration: none;
	color: #767676;
}

/***********
 Search Bar
***********/

.searchBar{
	background-color: #AAAAAA;
	font-size: 10px;
	padding: 10px;
}

#textBox {
	margin-left: 5%;
	margin-right: 1%;
}

.search{
	background-color: #3c7177;
	border-radius: 2px;
	padding: 8px 3px 8px 3px;
	border-color: #3c7177;
	color: white;
	font-size: 15px;
	margin-right: 1%;
}

#searchBarList{
	text-decoration: underline;
	color: white;
	list-style: none;
}

.searchItem {
	font-size: 15px;
	display: inline;
	text-decoration: none;
	color: white;
}

/***********
 Contact Me
***********/

#contactMeButton {
	border-radius: 2px;
	padding: 8px 60px;
	margin-bottom: 10px;
	font-size: 15px;
}

.contactMe {
	background-color: #EEEEEE;
}

#realtorImage {
	height: 250px
}

.socialLinks {

}

#contactInfoList {
	list-style: none;
	color: #3c7177;
}

/**************
   Main Info
**************/

#mainInfoSelector {
	text-align: center;
}

#mainText {
	
}

#infoMainText {
 width: 50%;
 float: right;
}

/*************
	Footer 
*************/

footer {
	background-color: #3c7177;
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
	display: block;
	list-style-type: none; 
}

#leftFooter {
	text-align: left;
}

#rightFooter {
	text-align: right;
}

